.header__logo{
  background-image: url("../../../images/logo.png");
  background-repeat: no-repeat;
  width: 142px;
  height: 33px;
  margin-top: 43px;
}

@media screen and (max-width:590px){
  .header__logo{
    background-size: contain;
    width: 104px;
    height: 25px;
    margin-top: 28px;
    margin-left: 27px;
  }
}  