.popup__form{
  display: flex;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 430px;
  height: 330px;
  position: relative;
}

@media screen and (max-width:630px){
  .popup__form{
    min-width: 0;
    margin: 0 auto;
    max-width: 282px;
    height: 322px;
  }
}  